
  <div class="card-deck row p-2">
    <div class="card p-2 text-center col-sm-2">
      <h5>History</h5>
      <code id="historyBox" #historyBox>

      </code>
    </div>

    <div class="card p-2 col-sm-8">
      <app-speech-detection></app-speech-detection>

      <div class="row">
        <div class="col-sm-12 p-4">
          <canvas id="drawCanvas" #drawZone style="width: 100%; height: 75vh;">

          </canvas>
        </div>
      </div>

    </div>
    <div class="card p-2 text-center col-sm-2">
      <h5>Commands</h5>
      <ul class="list-unstyled">
        <li><code>background $color</code></li>
        <hr/>
        <li><code>draw [on/off]</code></li>
        <hr/>
        <li><code>up</code></li>
        <li><code>down</code></li>
        <li><code>left</code></li>
        <li><code>right</code></li>
      </ul>
    </div>
  </div>
